<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to "Log in as Dev", new_developer_session_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= active_link_to 'Sign up as Dev', new_developer_registration_path, class: "nav-link" %>
  </li>
</ul>
