var template = "<%= j render @jobs %>"
var size = "<%= @jobs.size %>"
var el = document.getElementById('jobs-list');
var string = document.getElementById('size-string');
el.innerHTML = ""
el.insertAdjacentHTML("beforeend", `<p>${size} jobs Match your request</p>`);
el.insertAdjacentHTML("beforeend", template);
//el.innerHTML = template;
