.user-matched-skills {
  background-color: white;
  border-radius: 2%;
  max-width: 550px;
  box-shadow: 10px 10px 69px -26px rgba(138, 138, 138, 0.75);
}

.user-details-container {
  padding-left: 5vw;
  padding-right: 5vw;
  border-right: 1px solid #dbdbdb;
  max-width: 1500px;

  .user-introduction {
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .user-description {
    text-align: justify;
  }

  .user-photo {
    width: 400px;
    max-height: 300px;
    object-fit: cover;
  }

  .table th, .table td {
   border-top: none !important;
   width: 25vw;
 }
}

.user-show-titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.job-skills {
  height: 150px;
}


.user-application-container {
  max-width: 1200px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.btn-orange.btn-application {
  background-color: #338a98;
  border: 1px solid #338a98;

  &:hover {
    background-color: #3fb8cb;
    border-color: #3fb8cb;
  }
}

.btn-orange.btn-application-small {
  height: 30px;
  width: 160px;
  font-size: 10px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #338a98;
  border: 1px solid #338a98;
  &:hover {
    background-color: #3fb8cb;
    border-color: #3fb8cb;
  }
}

