.section-01 {
  min-height: 90vh;
}

.section-02 {
  padding-right: 2vh;
  padding-left: 2vh;
}

.section-02-sub {
  margin-left: 10vh;
  margin-right: 10vh;
  padding-bottom: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.section-03 {
  padding-right: 2vh;
  padding-left: 2vh;
  margin-left: 25vh;
  margin-right: 25vh;
  max-width: 530px;
  margin: auto;
}

.section-3-background {
  background-color: white;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.section-04 {
  max-width: 800px;
  margin: auto;
  padding-bottom: 10vh;
}

.section-5 {
  margin-right: 15vh;
  margin-left: 15vh;
}

.section-5-background {
  background-color: white;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.section-6 {
  margin-right: 15vh;
  margin-left: 15vh;
}

@media (max-width: 600px) {
  .section-6 {
    margin-right: 3vh;
    margin-left: 3vh;
  }
}

.section-6-background {

}

.benefit-title {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 8px;
}

.benefits {
  display: flex;
  justify-content: space-around;
}

.benefits-list {
  list-style: none;
  font-size: 15px;
  font-family: Roboto;
  font-weight: lighter;
  line-height: 30px;
}

.benefits-section {
  padding: 3vh;
  background-color: white;
  border: 1px solid #c7c7c7;
}

.home-list {
  padding-top: 28vh;
}

.small-icon-resized img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .home-list {
    padding-top: 20vh;

    h2 {
      font-size: 28px;
    }
  }
}

.headline {
  margin-right: 12%;
  margin-left: 12%;
}

.home-icons {
  justify-content: center;
  margin-bottom: 20px;

  img {
    width: 60px;
    height: 60px;
  }
}

.resized-logo img {
  max-width: 120px;
  overflow: hidden;
  object-fit: cover;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#resized-khanacademy img {
  max-width: 190px;
}

#resized-automattic img {
  max-width: 190px;
}

// Down blue arrow

.demo {
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo::hover {
  opacity: .5;
}

#down-blue-arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #0096A8;
  border-bottom: 3px solid #0096A8;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 6s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#down-blue-arrow span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#down-blue-arrow span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#down-blue-arrow span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.job-samples-page {
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 5vh;
  margin-bottom: 8vh;

}

.job-sample {
  background-color: white;
  padding: 8vh;
  padding-bottom: 4vh;
  border-radius: 2%;
  max-width: 650px;
  margin-bottom: 13vh;
  box-shadow: 10px 10px 105px -16px rgba(207, 207, 207, 0.75);
}


@media (max-width: 850px) {
  .job-samples-page {
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .job-sample {
    padding: 1vw;
  }

  .job-sample {
    .job-show-titles {
      padding: 5vw;
    }
    .job-show-skills {
      max-width: 320px;
    }
    .underlined-orange-dark {
      max-width: 495px;
    }
  }
}


.collapsing-description {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  padding-right: 16px;
  padding-bottom: 50px;
  padding-left: 16px;
  margin-bottom: 25px;
  border-bottom: #d9d9d9 1px solid;
  transition: max-height 2s ease-in-out;
}

.collapsing-button {
  position: absolute;
  text-align: center;
  color: #0096a8;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  bottom: 0px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.92) 36%, rgb(255, 255, 255) 86%);
  cursor: pointer;
  cursor: hand;
  padding-top: 50px;
  padding-bottom: 5px;
}


.collapsing-button:hover {
  color: #F4951F;
}

.expanded {
  max-height: 3500px;
}
