.vetted-list-offers h5{
  font-size: 1.1em;
}

.bid-text{
  color: #5d5d5d;
  font-size: 1.1em;
  margin-left: 17px;
}

.bid-stats .display-4{
  color: $orange;
}

.bid-stats{
  margin-bottom: 100px;
}
