.underlined {
  padding-bottom: 16px;
  box-shadow: inset 0px -8px 0px 0px #62b6c3;
}

.underlined-orange {
  padding-bottom: 16px;
  box-shadow: inset 0px -8px 0px 0px #ffe8dd;
}

.underlined-top-orange {
  padding-bottom: 16px;
  box-shadow: inset 0px 8px 0px 0px #ffe8dd;
}

.underlined-orange-dark {
  padding-bottom: 16px;
  box-shadow: inset 0px -8px 0px 0px #ffbb9a;
}

.job-details-container {
  padding-left: 5vw;
  padding-right: 5vw;
  border-right: 1px solid #dbdbdb;
  max-width: 1500px;

  .job-description {
    text-align: justify;
    max-width: 500px;
    padding-bottom: 15px;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .job-photo {
    width: 400px;
    max-height: 300px;
    object-fit: cover;
  }

  .table th, .table td {
   border-top: none !important;
   width: 33%;
 }
}

.job-show-titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.job-show-skills {
  background-color: white;
  border-radius: 2%;
  max-width: 370px;
  margin: 10px;
  box-shadow: 10px 10px 69px -26px rgba(138, 138, 138, 0.75);

}

.job-application-container {
  max-width: 1200px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.job-logo {
  img {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
    padding-top: 3vh;
    padding-bottom: 1vh;
  }
}

.applied-message {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 21px;
  margin-bottom: 12px;
  border: 8px solid #e7f3f5;
}

@media (max-width: 767px) {
  .job-details-container {
    border:none;
  }
}
