<p>Dear <%= @developer.full_name %>,</p>

<p>Thank you for having submitted your application using Find My Flock.</p>

<p>We want to let you know that your application has been reviewed by <%= @company.name %> and unfortunately <strong>rejected</strong>.</p>

<p>You will continue to receive email updates regarding the review of your application. You can also <%= link_to "click here", dashboard_developers_url  %> to view the status of each of your applications.</p>

<p>With love and solidarity,<br>
Find My Flock Team<p>
