<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <span><p><%= @developer.full_name %></p> </span> your application for the job </h3>
    <p><%= @job.title %></p>
    <h3>Has been opened and readed by a recruiter from the </h3>
    <p><%= @company.name %></p>
  </body>
</html>
