<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, you have new matches! This Jobs could be prefet for you!</h3>
    <% @jobs.each do |job| %>
    <p><%= job %></p>
    <% end %>
  </body>
</html>
