<div class="row centered matched-job">

  <div class="col-xs-12 col-sm-12 col-md-2">
    <img class="job-avatar" src="/assets/jordan_fmf-72137f7c9425cf86f10b757071c5bf8cb3446080bbfd6dbfcbe01cb23edab0aa.jpg" alt="Jordan fmf">
    <p class="pt-2" style="margin-bottom:0;">Jordan Camelia</p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 matched-job-title matched-job-skills matched-job-separator">
    <h5 class="row matched-job-skills-title">Matched job</h5>
    <h4><%= job.title %></h4>
    <h5 class="text-muted">Denver</h5>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 matched-job-skills">
    <h5 class="row matched-job-skills-title">Matching skills</h5>
    <div class="row">
      <table class="table">
        <tbody>
          <tr>
            <td>Javascript</td>
            <td>4</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Rails</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-md-2">
    <button class="btn-orange btn-apply">View</button>
  </div>

</div>
