<div class="container mb-5">
  <div class="row justify-content-md-center">
    <div class="col col-md-8">
      <%= render 'utils/progressbar', step: 1, navigations: ["Job profile", "Skills", "Benefits and Values"], classname:"" %>
      <%= render 'form_job', job: @job, url: jobs_path %>
    </div>
  </div>
</div>
