<h1>Matches</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Job</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @job_matches.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= link_to "See job", admin_job_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
