<div class="modal" id="vettedModal" tabindex="-1" role="dialog" aria-labelledby="vettedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title center" id="vettedModalLabel">Vetted Job!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Our Vetted Jobs offer a unique opportunity to gain insight into what it’s like to work at a company before you even step foot into an interview. You can apply with the confidence that a company meets a high standard for benefits, salary and company culture. If you are chosen to interview for the role, we'll even provide one-on-one interview coaching to help you prepare.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
