<% if @developer_matches.any? %>
  <h1>Matches</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Job</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @developer_matches.each do |id| %>
        <tr>
          <td><%= Developer.find(id).first_name%> <%= Developer.find(id).last_name %></td>
          <td><%= link_to "See developer", admin_developer_path(Developer.find(id)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
