<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Edit your company</h2>
          <%= render 'form', company: @company, url: company_path(@company) %>
        </div>
      </div>
    </div>
  </div>
</div>
