<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello! <%= @developer.full_name %>. Here a message from our company about your application for the job <%= @job.title %></h3>
    <p><%= @message %></p>
    <hr>
    <p>You can answer to the company just clicking reply on your mail broswer</p>
 </body>
</html>
