

  <p>Dear <%= @developer.full_name %>,</p>

  <p>Your application has been reviewed and  would like to further communication with you.</p>

  <p>Below you will find the message from your recruiter:</p>

  <p><i><%= @message %></i></p>

  <p><b>To respond to your recruiter, simply reply directly to this email.</b></p>
  <p>With love and solidarity,<br>
  Find My Flock Team<p>
