<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello! <%= @company.recruiters.first.email %>. </h3>
    <p>Your company <%= @company.name %> is now on findmyflock</p>
    <hr>
 </body>
</html>
