.progressbar {
	margin: 30px 0;
	overflow: hidden;
	counter-reset: step;
  padding: 0;
  text-align: center;
}
.progressbar li {
	list-style-type: none;
	color: #795548;
	text-transform: uppercase;
	font-size: 0.8em;
	width: 33.33%;
	float: left;
	position: relative;
	letter-spacing: 1.2px;
}
.progressbar.small li {
	width: 50%;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	line-height: 40px;
	display: block;
	font-size: 1.1em;
	color: #795548;
	background: white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: white;
	position: absolute;
	left: -50%;
	top: 18px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
	background: $green;
	color: white;
}
