.skill-form-list{
  padding: 1em 0;
  border-bottom: 1px solid #f2f2f2;
}

.skill-form-icon{
  font-size: 1.2em;
}

.skill-form-icon i{
  margin-left: 0.7em;
  margin-right: 0.4em;
}

.skill-form-name {
  text-transform:capitalize;
}
