<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to 'Log in as Company', new_recruiter_session_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= active_link_to 'Sign up as Company', new_recruiter_registration_path, class: "nav-link" %>
  </li>
</ul>
