<script src="https://js.stripe.com/v3/"></script>

<style type="text/css">
.StripeElement {
  padding: 10px 12px;
  width: 100%;
  padding: 0.6rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.invalid-feedback{
  display: block;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>


<div class="container mb-5">
  <div class="row justify-content-md-center">
    <div class="col col-md-8">
      <div class="card mt-5">
        <% if @company.is_member? %>
        <div class="alert alert-info">
          <i class="fas fa-exclamation-triangle fa-3x fa-pull-left fa-border fa-border-info"></i>
          You are currently subscribed to the plan for <%= @company.subscriber.plan.name %>. If you would like to change your subscription, please send us an email with the membership you would like to upgrade to and we will be happy to change your plan within 24 hours. <hr /><a href="mailto:info@findmyflock.com" class="btn btn-primary float-right">Contact Us</a>
        </div>
        <% else %>
        <div class="card-body">
          <h4 class="text-center my-3 mb-5">Payment method</h4>
          <%= form_for @subscriber, html: { id: "payment-form" } do |f| %>

            <div class="d-flex justify-content-start mb-3">
              <div class="plan radio-select">
                <label for="radioBasic" class="d-flex justify-content-start">
                  <input name="plan" value="1-job" class="radio-plan hidden" id="radioBasic" type="radio" required />
                  <div>
                    <h5>1 Job Posting</h5>
                    <p class="muted">$39.99 Billed Monthly</p>
                  </div>
                </label>
              </div>
              <div class="plan left-plan radio-select">
                <label for="radioGold" class="d-flex justify-content-start">
                  <input name="plan" value="3-jobs" class="radio-plan hidden" id="radioGold" type="radio" required />
                  <div>
                    <h5>3 Job Postings</h5>
                    <p class="muted">99,99$ Billed Monthly</p>
                  </div>
                </label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col col-md-6">
                <label for="card_name">Name On Card</label>
                <input id="card_name" name="name" class="form-control" required />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col col-md-6">
                <label for="card-element">Credit or Debit Card</label>
                <div id="card-element"></div>
                <div id="card-errors" class="invalid-feedback" role="alert"></div>
              </div>
            </div>

            <div class="mb-1">
              <h5 class="mt-4">Billing address</h5>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="address-line1">Address</label>
                  <input id="address-line1" name="address_line1" class="form-control" placeholder="77 Winchester Lane" required />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="address-city">City</label>
                  <input id="address-city" name="address_city" class="form-control" placeholder="Coachella" required />
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="address-state">State</label>
                  <input id="address-state" name="address_state" class="form-control" placeholder="CA" required />
                </div>
                <div class="col-md-5 mb-3">
                  <label for="address-country">Country</label>
                  <input id="address-country" name="address_country" class="form-control" placeholder="United States" required />
                </div>
                <div class="col-md-3 mb-3">
                  <label for="address-zip">Zip Code</label>
                  <input id="address-zip" name="address_zip" class="form-control" placeholder="92236" required />
                </div>
              </div>
            </div>
            <div class="mb-5">
              <h5 class="mt-4">Coupon</h5>
              <div class="row">
                <div class="col col-md-6">
                  <label for="cupon-code">Coupon Code</label>
                  <input id="cupon-code" name="cupon_code" class="form-control" />
                </div>
              </div>
            </div>
            <div class="text-center">
              <%= f.submit "Submit Payment", class: "btn btn-primary btn-lg", id: "payment-btn" %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>

var pk_stripe_key = "<%= Rails.env.development? ? Rails.application.credentials[Rails.env.to_sym][:stripe][:publishable_key] : ENV['publishable_key'] %>";
// Create a Stripe client.
var stripe = Stripe(pk_stripe_key);

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
    var btnPayment = document.getElementById('payment-btn');
    btnPayment.disabled = false;
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  var options = {
    name: document.getElementById('card_name').value,
    address_line1: document.getElementById('address-line1').value,
    address_city: document.getElementById('address-city').value,
    address_state: document.getElementById('address-state').value,
    address_zip: document.getElementById('address-zip').value,
    address_country: document.getElementById('address-country').value
  };

  stripe.createToken(card, options).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);
  form.submit();
}


var radios = document.querySelectorAll('.radio-plan');
for (var i = 0; i < radios.length; i++) {
    radios[i].addEventListener('change', function(e) {
      var selectedParents = document.querySelectorAll('.radio-select');
      for (var i = 0; i < radios.length; i++) {
        selectedParents[i].classList.remove('selected');
      }
      var planBox = e.target.parentNode.parentNode;
      planBox.classList.remove('selected');
      planBox.classList.add('selected');
    });
}

</script>
