.review-card {
  padding: 20px;
  box-shadow: 7px 3px 40px -12px rgba(0,0,0,.2);
  overflow: hidden;
  .card-body {

  }
  &:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 5em;
    color: rgba(207, 207, 207, 0.33);
    font-weight: normal;
  }

  &:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(207, 207, 207, 0.33);
    font-weight: normal;
  }
}

.card-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 2.25rem;
  @include media-breakpoint-only(sm) {
    column-count: 1;

    .card {
      max-width: 90vw;
    }
  }
}


@media (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    column-gap: 2.25rem;

    .card {
      max-width: 90vw;
    }
  }
  .review-card {
    margin: 5vw;
  }
}

.avatar {
  img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}

.avatar-lg {
  img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}

.avatar-profile {
  img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}

.job-avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.icon-resized {
  width: 40px;
  height: 40px;
}

.review-header {

}
.review-titles {
  align-self: center;
  padding-left: 25px;
}


// Side bar developer dashboard

.filter-card {
  border: none;
  width: 100%;

  .btn-link {
    text-decoration: none;
    font-family: Roboto;
    color: #60b5c3;
  }
  .btn-link:hover {
    color: #3b8e9c;
  }

  .card-header {
    background-color: white;
  }
}
