.sidebar {
  min-height: calc(100vh - 120px);
}
.filters {
  @extend .sidebar;
  @extend .col-md-3;
  @extend .pt-3;
  @extend .d-md-block;
  @extend .bg-white;
  border-right: 2px solid #f1f1f1;

  @media (min-width: map-get($grid-breakpoints, sm)) {
    .accordion {
      height: 50vh;
      top: 60px;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: none;

    &.show {
      display: block;
      position: fixed;
      background: #fff;
      top: 60px;
      border: none;
      bottom: 0;
      z-index: 100;
      padding: 0 !important;
      overflow: auto;
    }
    .sticky-top {
      position: relative;
    }
  }
}
