.navbar {
  height: 60px;
  border-bottom: 1px solid #f1f1f1;
  img {
    max-width: 35px;
  }
}

#Logo, #NavJobs, #NavEmployers {
  transition: all 0.6s;
}

.avatar-navbar img {
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
