<li class="nav-item">
  <%= active_link_to 'Developers ', new_developer_session_path, class: "nav-link", id: "NavEmployers" %>
</li>
<li class="nav-link d-none d-sm-block"> | </li>
<li class="nav-item">
  <%= active_link_to 'Employers', pages_path(:pricing), class: "nav-link", id: "NavEmployers" %>
</li>
