<div class="navbar navbar-expand-md navbar-light fixed-top" id="NavContent" style="background-color: white;">
  <a href="/">
    <img class="navbar-brand ml-auto" id="Logo" src="/assets/flock_logo.png" alt="Flock logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end pr-4" id="navbarCollapse">
    <ul class="navbar-nav">
      <% if recruiter_signed_in? %>
        <%= render "shared/navbar/company-navbar" %>
      <% elsif developer_signed_in? %>
        <%= render "shared/navbar/developer-navbar" %>
      <% else %>
        <%= render "shared/navbar/basic-navbar" %>
      <% end %>
    </ul>
  </div>
</div>
