<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Montserrat:200,300,400|Roboto:300,400" rel="stylesheet">
</head>
<body>

<style media="screen">

body{
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;

}
  a:hover, a:focus {
    text-decoration: none !important;
  }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
</style>


  <p>Dear <%= @email %></p>

  <p>Welcome to the Find My Flock community!</p>
  <p>We are SO excited to land you your dream job. Your new and brighter future awaits, and we’re thrilled to be part of your journey.</p>

  <p>There’s only 1 simple step left in order to finish creating your account:</p>


  <p>===>>> Please <%= link_to 'CLICK HERE', confirmation_url(@resource, confirmation_token: @token) %> to confirm your email address. <<<===</p>

  <p>When will you receive emails from Find My Flock?</p>
  <ul>
    <li>When a new match has been made between your profile and a job posting.</li>
    <li>When a company reviews your resume and cover letter.</li>
  </ul>
  <p>After you’ve submitted your resume to a job posting and a recruiter wants to contact you for more information.</p>

  <p>As you can see, these are pretty important emails coming to you from us. No spam! Therefore, we also suggest that you add us to your contact book so that you’re sure you won’t miss an opportunity.</p>

  <p>
  With love and solidarity,</br>
  Find My Flock Team</p>
</body>
</html>
